*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: #76acea; */
  background: linear-gradient(#76acea, #ffefd5);
}

.appLabel {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 50px;
  color: #083f7e;
  text-shadow: 20px 10px 0px #78bacc, -15px -6px 0px #9dacb1;
}

@media only screen and (min-width: 768px) {
  .App {
    width: 100vw;
    height: 100vh;
  }

  .appLabel {
    font-size: 3.3rem;
    font-weight: bold;
    margin: 20px 0 50px 0;
  }
}

.weatherFetch_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chooseCity {
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 5px;
  width: 60%;
  margin: 10px 2px auto 20px;
  padding: 10px;
  background-color: papayawhip;
}

.button {
  font-size: 1.3rem;
  padding: 5px;
  margin: 10px 2px auto 10px;
  /* background-color: #76acea; */
  background-color: #4e91dd;
  border-radius: 5px;
}

@media only screen and (min-width: 768px) {
  .chooseCity {
    font-size: 2.3rem;
    border-radius: 5px;
    width: 70%;
    margin: 10px 2px auto 30px;
    padding: 10px 40px;
  }

  .button {
    font-size: 2.3rem;
    margin-left: 20px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 30px auto;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location {
  color: #0c54a7;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.mainTemp {
  font-size: 3.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.elements {
  color: #083f7e;
  margin: 5px auto;
  font-size: 1rem;
  font-weight: 600;
}

.location a:link {
  text-decoration: none;
}

.location a:visited {
  color: #0c54a7;
  text-decoration: none;
}

.location a:hover {
  color: #53534f;
}

.description {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.errorMessage {
  font-weight: bold;
  margin-top: 10px;
}

.pleaseMessage {
  /* color: red; */
  background-image: conic-gradient(#6d6d68, #174a85);
  background-clip: border-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.checkMessage {
  /* color: green; */
  background-clip: border-box;
  background-image: conic-gradient(#6d6d68, #b31010);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media only screen and (min-width: 768px) {
  .info {
    margin: 10px auto 20px;
  }

  .location {
    font-size: 2.7rem;
  }

  .mainTemp {
    font-size: 4.8rem;
  }

  .elements {
    font-size: 2rem;
    margin-top: 20px;
  }

  .numbers {
    font-size: 2.3rem;
    margin: 0 3px;
  }

  .location {
    font-size: 2.4rem;
  }

  .description p {
    font-size: 2.4rem;
  }

  .description img {
    width: 200px;
  }

  .errorMessage {
    font-weight: bold;
    font-size: 2.5rem;
    width: 60%;
  }
}
